* {
    font-family: 'Roboto', sans-serif;
}

.modified {
    color: #696969;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1000px;
    padding: 2rem;
}

h1 {
    margin-top: 0;
}

body {
    margin: 0;
}
